{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
{% if app.user %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-6 d-flex flex-column align-items-center">
            <img class="img-fluid" src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">
            <h1 class="text-warning text-center">Mon Profil</h1>
        </div>
    </div>
    <div class="row mt-5 mb-5 g-0">
        <div class="col-lg-4">
            <img class="rounded-circle mx-auto d-block shadow mb-5" src="{{ ('/images/pictures/' ~ user.avatar)|imagine_filter('profile') }}" alt="{{ user.nickname }}">
        </div>
        <div class="col-lg-6 bg-info rounded shadow p-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message|raw }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row mt-5 mb-5 g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">
        </div>
        <div class="col-lg-7">
            <img class="img-fluid" src="{{ asset('build/images/arrowdown.png') }}" alt="Arrow">
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
