<nav class="navbar navbar-expand-lg navbar-light bg-primary">
<div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{ asset('build/images/ribbon.png') }}" alt="zen" width="30px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNavDropdown">
        <ul class="navbar-nav navbar-nav collapse navbar-collapse flex-row justify-content-around">
            <li class="nav-item d-flex flex-column align-items-center">
                <img class"nav-pics" src="{{ asset('build/images/news.png') }}" alt="zen" width="50px" height="50px">
                <a class="nav-link" href="#">Mon Humeur</a>
            </li>
            <li class="nav-item d-flex flex-column align-items-center">
                <img class"text-center" src="{{ asset('build/images/uterus.png') }}" alt="zen" width="50px" height="50px">
                <a class="nav-link" href="#">L'endométriose</a>
            </li>
            <li class="nav-item d-flex flex-column align-items-center">
                <img class"nav-pics" src="{{ asset('build/images/contact.png') }}" alt="zen" width="50px" height="50px">
                <a class="nav-link" href="#">Contactez-Moi</a>
            </li>
            <li class="nav-item d-flex flex-column align-items-center">
                <img class"nav-pics" src="{{ asset('build/images/forum.png') }}" alt="zen" width="50px" height="50px">
                <a class="nav-link" href="#">Forum</a>
            </li>
            <li class="nav-item d-flex flex-column align-items-center">
                <img class"nav-pics" src="{{ asset('build/images/register.png') }}" alt="zen" width="50px" height="50px">
                <a class="nav-link" href="#">Inscription</a>
            </li>
        </ul>
    </div>
</div>
</nav>