<nav class="navbar navbar-expand-lg navbar-light bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand ms-3 mt-2" href="/"><img class="img-fluid" src="{{ asset('build/images/logo.png') }}" alt="zen" width="100px"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav me-auto collapse navbar-collapse mb-2 mb-lg-0 d-flex justify-content-around">
				<li class="nav-item d-flex flex-column align-items-center">
					<a href="{{ path('article_index')}}"><img class"nav-pics" src="{{ asset('build/images/news.png') }}" alt="Blog" width="50px" height="50px"></a>
					<a class="nav-link" href="{{ path('article_index')}}">Mon Humeur</a>
				</li>
				<li class="nav-item d-flex flex-column align-items-center">
					<a href="{{ path('endometriose')}}"><img class"text-center" src="{{ asset('build/images/uterus.png') }}" alt="Utérus" width="50px" height="50px"></a>
					<a class="nav-link" href="{{ path('endometriose')}}">L'endométriose</a>
				</li>
				<li class="nav-item d-flex flex-column align-items-center">
					<a href="{{ path('contact_new')}}"><img class"nav-pics" src="{{ asset('build/images/contact.png') }}" alt="Contact" width="50px" height="50px"></a>
					<a class="nav-link" href="{{ path('contact_new')}}">Contactez-Moi</a>
				</li>
				<li class="nav-item d-flex flex-column align-items-center">
					<a href="{{ path('forum_index')}}"><img class"nav-pics" src="{{ asset('build/images/forum.png') }}" alt="Forum" width="50px" height="50px"></a>
					<a class="nav-link" href="{{ path('forum_index')}}">Forum</a>
				</li>
				<li class="nav-item d-flex flex-column align-items-center">
					{{ render(controller('App\\Controller\\HomeController::showUser')) }}
				</li>
				{% if app.user %}
					<li class="nav-item d-flex flex-column align-items-center">
					<p class="text-warning fw-bold">{{ app.user.nickname }}</p>
					<a data-no-swup href="{{ path('logout') }}">Se déconnecter</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
