<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="description" content="Endogirl est un site de libre expression sur l'endométriose, pour toutes celles et ceux qui veulent en parler dans une communauté bienveillante"/>
	<meta name="revisit-after" content="3 days">
    <meta name="language" content="fr">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Endogirl">
	<meta name="copyright" content="Endogirl">
	<meta name="distribution" content="global">
    <meta name="rating" content="general">
	<meta property="og:title" content="Endogirl" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://endogirl.fr" />
	<meta property="og:image" content="{{ absolute_url(asset('build/images/logo.png')) }}" />
	<meta property="og:description" content="Endogirl est un site de libre expression sur l'endométriose, un lieu de rassemblement pour toutes celles et ceux qui veulent en parler dans une communeauté bienveillante" />
	<meta property="twitter:title" content="Endogirl" />
	<meta property="twitter:type" content="website" />
	<meta property="twitter:url" content="http://endogirl.fr" />
	<meta property="twitter:image" content="{{ absolute_url(asset('build/images/logo.png')) }}" />
	<meta property="twitter:description" content="Endogirl est un site de libre expression sur l'endométriose, un lieu de rassemblement pour toutes celles et ceux qui veulent en parler dans une communeauté bienveillante" />
	<meta property="instagram:title" content="Endogirl" />
	<meta property="instagram:type" content="website" />
	<meta property="instagram:url" content="http://endogirl.fr" />
	<meta property="instagram:image" content="{{ absolute_url(asset('build/images/logo.png')) }}" />
	<meta property="instagram:description" content="Endogirl est un site de libre expression sur l'endométriose, un lieu de rassemblement pour toutes celles et ceux qui veulent en parler dans une communeauté bienveillante" />
	<link rel="icon" href="{{ asset('build/images/logo.png') }}">
	<title>
		{% block title %}Bienvenue sur Endogirl{% endblock %}
	</title>
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>
<body class="scrollbar" id="style-scroll">
{% include 'include/_navbar.html.twig' %}
<div class="container-fluid g-0">
	<div class="row g-0">
		<aside class="col-lg-2 w-15 bg-primary sidebar d-none d-lg-block">
			{% include 'include/_sidebar.html.twig' %}
		</aside>
		<section class="nav-info col-lg-10 w-85">
			{% include 'include/_navinfo.html.twig' %}
			<main class="nav-info">
				{% block body %}{% endblock %}
			</main>
		</section>
		{% include 'include/_footer.html.twig' %}
	</div>
</div>
</body>
</html>
