{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-6 d-flex flex-column align-items-center">
            <img class="img-fluid" src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
            <p class="card-text mt-5 text-warning fw-bold">Le {{ article.createdAt|format_datetime('full', 'short', locale='fr')}}</p>
            <p class="text-dark mb-5">{{ article.content|raw }}</p>
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">
            <h1 class="text-warning mb-5">{{ article.title }}</h1>
            <img src="{{ ('/images/pictures/' ~ article.picture)}}" class="card-img-top img-fluid shadow rounded" alt="{{ article.title }}">
        </div>
    </div>
    <div class="row mt-5 g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4">
            <h2 class="text-warning">Laissez un commentaire</h2>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message|raw }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="col-lg-7">
            <img class="img-fluid" src="{{ asset('build/images/arrowdown.png') }}" alt="Arrow">
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-6 mt-5 comment-scrollbar" id="style-scroll">
            {% for comment in article.comments %}
            <hr>
                <a class="text-decoration-none text-warning fw-bold me-5" href="">{{ comment.user }}</a><i>{{ comment.createdAt|format_datetime('full', 'short', locale='fr', timezone='Europe/Paris') }}</i>
                <p class="text-dark bg-primary mt-2">{{ comment.summary|raw }}</p>
            {% endfor %}
            {% if app.user %}
                {{ form(form) }}
            {% else %}
            <hr>
                <a class="nav-link text-dark btn btn-info mb-5 mt-5" href="{{ path('security')}}">Connecte toi pour laisser un message</a>
            {% endif %}
        </div>
        <div class="col-lg-1">
        </div>
        <div class="col-lg-4 mt-5">
            <h4 class="text-secondary fw-bold text-center mb-5">Les commentaires sont soumis à une modération</h4>
            <p class="text-dark">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium, veniam ut aspernatur tempore non eaque iste dolore fugit nihil neque, excepturi amet illo, nisi cum aliquid eius quis. Sed, illum?</p>
        </div>
    </div>
</div>
{% endblock %}