{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <img src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
        </div>
        <div class="col-lg-4">
            <h1 class="text-warning">Forum</h1>
    </div>
    <div class="row m-5">
        <div class="col-lg-8">
            <h3 class="text-center text-warning mb-5">les Catégories et leurs sujets</h3>
            <div class="card p-5 shadow rounded">
                {% for category in categories %}
                <h4 class="text-warning">{{ category.name }}</h4>
                    <hr>
                    {% for subject in category.subjects %}
                    <a href="{{ path('forum_subject', { 'slug': subject.name })}}">
                        <p class="text-dark fs-5 mb-5">{{ subject.name }}</p>
                    </a>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-4">
            <h3 class="text-center text-warning mb-5">Les derniers Topics</h3>
            <div class="card p-5 shadow rounded">
                {% for topic in topics %}
                    <p class="text-dark fs-5 mb-5">{{ topic.title }}</p>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
