{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row g-0">
        <div class="col-lg-8 d-flex flex-column align-items-center">
            <img class="img-fluid" src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
            <a class="mt-3 text-dark nav-link fw-bold" href="{{ path('forum_index')}}">Retour à la liste des catégories</a>
        </div>
        <div class="col-lg-4">
            <h1 class="text-warning text-center">{{ subject.name }}</h1>
        </div>
    </div>
    <div class="row g-0">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8 mb-5">
                <table class="table table-bordered mt-5 bg-primary p-5">
                    <thead>
                        <tr>
                            <th class="text-warning" scope="col">{{ subject.name }}</th>
                            <th class="text-warning" scope="col">Date de création</th>
                            <th class="text-warning" scope="col">Auteur</th>
                        </tr>
                    </thead>
                {% for topic in topics %}
                    <tbody>
                        <tr>
                            <td class="text-dark">{{ topic.title }}</td>
                            <td><small>{{ topic.createdAt |format_datetime('full', 'short', locale='fr') }}</small></td>
                            <td class="text-dark">{{ topic.user.nickname }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    {{ render(controller('App\\Controller\\Forum\\TopicController::new')) }}
</div>
{% endblock %}
