{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row g-0">
        <div class="col-lg-8 d-flex flex-column align-items-center">
            <img class="img-fluid" src="{{ asset('build/images/arrowHomeUp.png') }}" alt="Arrow">
            <a class="mt-3 text-dark nav-link fw-bold" href="{{ path('forum_subject', {'slug': subject.slug}) }}">Retour à la liste</a>
        </div>
        <div class="col-lg-4">
            <h1 class="text-warning tex-center">{{ topic.title }}</h1>
        </div>
    </div>
    <div class="row g-0 mt-5">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <h3 class="text-warning"><strong><i>{{ topic.user.nickname }}</i></strong></h3>
            <i class="text-dark"><small>Le {{ topic.createdAt|date("m/d/Y", "Europe/Paris")}} à {{ topic.createdAt|date("h:i", "Europe/Paris")}}</small></i>
            <p class="text-dark mt-5 mb-5 fs-5">{{ topic.content|raw }}</p>
            <hr>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row g-0 mt-5">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-7">
            {% for reply in replies %}
                <h4 class="text-warning bg-light"><strong><i>{{ reply.user.nickname }}</i></strong></h4>
                <i class="text-dark"><small>Le {{ reply.createdAt|date("m/d/Y", "Europe/Paris")}} à {{ reply.createdAt|date("h:i", "Europe/Paris")}}</small></i>
                <p class="text-dark mt-5 mb-5">{{ reply.message|raw }}</p>
                <hr>
            {% endfor %}
        </div>
        <div class="col-lg-1">
        </div>
    </div>
    <div class="row g-0 mt-5">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-7">
            {% if app.user %}
                {{ form(form) }}    
            {% else %}
                <hr>
                <a class="nav-link text-dark btn btn-info mb-5 mt-5" href="{{ path('security')}}">Connecte toi pour laisser un message</a>
            {% endif %}
        </div>
        <div class="col-lg-1">
        </div>
    </div>
</div>
{% endblock %}
